.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movies-by {
  font-size: 2rem;
  text-align: center;
}

.mock-list {
  font-size: 54px;
  text-align: center;
  color: #afb3afa6;
}
