//header
$headerNavFont : "Open Sans", sans-serif;
$headerNavFontColor           : #ffffff;
$headerNavFontSize: 16px;
$headerNavFontWeight: 600;
$mainFontSize: 18px;

$desktopWidth            : 1200px;
$smDesktopWidth          : 992px;
$tableWidth              : 768px;
$phoneWidth              : 576px;
$smPhoneWidth            : 320px;