$primary-color: rgb(74, 74, 74);
$secondary-color: rgb(247, 82, 99);
$light-color: rgb(255, 255, 255);
$success-color: rgb(120, 151, 100);

$text-primary: rgb(255, 255, 255);
$text-secondary: rgb(247, 82, 99);
