@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

//modules
@import './modules/h1';
@import './modules/header';
@import './modules/main';
@import './modules/menu';
@import './modules/btn-def';
@import './modules/input-def';
@import './modules/slider';
@import './modules/slider-item';
@import './modules/section';
@import './modules/float-list';
@import './modules/other-courses';
@import './modules/subscribe';
@import './modules/review';
@import './modules/review-item';
@import './modules/footer';
@import './modules/header-wrapper';
@import './modules/about-course';

html {
  //line-height: $mainLineHeight;
  font-size: $mainFontSize;
  //color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 14px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 12px;
  }
}
