.btn-def {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &__name {
    display: contents;
  }
  &__img {
    margin-right: 7px;
  }
}