.float-list {
  position: relative;
  display: flex;
  background-color: #fbfbfb;
  align-items: stretch;
  flex-wrap: wrap;
  padding-left: 90px;
  padding-right: 90px;

  &__item {
    display: flex;
    align-items: flex-start;
    flex: 1;
    
    &:not(:first-child)::before {
      position: relative;
      top: calc(50% - 67px);
      width: 3px;
      height: 134px;
      background-color: #cdcdcd;
      opacity: .5;
      content: "";
    }

    &:hover {
      z-index: 2;
      background-color: $secondaryColor;
      border-radius: 10px;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, .15));
      transform: scale(1.08);

      @media (max-width: $phoneWidth) {
        background-color: transparent;
        border: none;
        filter: none;
        transform: none;
      }
      
      &::before {
        display: none;
      }

      .float-list__content {
        transform: scale(.926);

        @media (max-width: $phoneWidth) {
          transform: none;
        }
      }

      .float-list__link {
        position: absolute;
        bottom: -22px;
        display: block;
        width: 175px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: $secondaryColor;
        background-color: $primeryColor;
        border-radius: 5px;

        @media (max-width: $smDesktopWidth) {
          width: 145px;
        }

        @media (max-width: $phoneWidth) {
          position: initial;
          height: initial;
          line-height: initial;
        }
      }

      .float-list__main-text {
        position: relative;
        color: $primeryColor;
        animation: float-main-text .2s linear forwards;

        @media (max-width: $phoneWidth) {
          color: $boringColor;
          animation: none;
        }

        @keyframes float-main-text {

          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-40px);
          }
        }

      }

      .float-list__add-text {
        position: relative;
        color: $primeryColor;
        animation: float-add-text .2s linear forwards;

        @media (max-width: $phoneWidth) {
          color: $boringColor ;
          animation: none;
        }

        @keyframes float-add-text {

          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-35px);
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
  }

  &__description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__main-text {
    font-size: rem(72);
    line-height: 94px;
    color: #777;
    font-weight: 800;
  }

  &__add-text {
    font-size: rem(20);
    color: $boringColor ;
    font-weight: 400;
  }

  &__link {
    display: none;
  }
  
}
