.float-list {
  position: relative;
  height: 235px;
  margin: 34px 92px 0 91px;
  display: flex;
  //justify-content: space-between;
  background-color: #fbfbfb;
  align-items: stretch;
  
  &__item {
    display: flex;
    flex: 1;
    align-items: flex-start;
    //flex-direction: column;
    //align-items: center;
    &:not(:first-child)::before {
      content: '';
      position: relative;
      width: 3px;
      height: 134px;
      background-color: #cdcdcd;
      opacity: 0.5;
      top: calc(50% - 67px);
    }
    
  }
  &__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
  }
  &__description {
    
  }
  &__main-text {
    //text-align: center;
    font-size: 72px;
    color: #777777;
    font-weight: 800;
    line-height: 94px;
  }
  &__add-text {
    //text-align: center;
    
    font-size: 20px;
    color: #777777;
    font-weight: 400;
  }
  &__link {
    //margin: auto;
    display: none;
  }
  
}
.float-list__item_selected {
  //width: 258px;
  &::before {
    display: none;
  }
  transform: scale(1.2);
  
  z-index: 2;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.15));
  background-color: #ffffff;
  .float-list__content {
    transform: scale(.833);
    
  }
  .float-list__link {
    display: block;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(57,193,215);
    text-align: center;
    line-height: 40px;
    color: #ffffff;
  }
  .float-list__main-text {
    color: #39c2d7;
  }
  .float-list__add-text {
    color: #39c2d7;
  }
}