.footer {
  background-color: #38383a;
  padding-bottom: 52px;
  padding-top: 42px;

  @include font($headerNavFont, 18px, 600, $footerColor);

  &__content {
    display: flex;
    width: 83%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $smDesktopWidth) {
      justify-content: center;
    }

    @media (max-width: $phoneWidth) {
      height: auto;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 16px;
    font-family: "Open Sans";
    color: $footerColor;
    flex-basis: 42%;
    font-weight: 400;

    @media (max-width: $smDesktopWidth) {
      flex-basis: 80%;
    }
  }

  &__logo {
    font-size: rem(24);
    color: #8a8a8a;
    font-weight: 800;
  }

  &__copyright {
    margin-top: 23px;
  }

  &__add-info {
    font-size: 11px;
    margin-top: 16px;
  }

  &__useful-links {
    flex-basis: 49%;

    @media (max-width: $smDesktopWidth) {
      flex-basis: 80%;
      margin-top: 20px;
    }

    @media (max-width: $phoneWidth) {
      height: auto;
    }
  }

  &__links-list {
    display: flex;
    width: 472px;
    height: 207px;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: $phoneWidth) {
      width: 83%;
    }

    @media (max-width: $phoneWidth) {
      height: auto;
    }
  }

  &__links-item {
    width: 46%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;

    @media (max-width: $phoneWidth) {
      width: auto;
    }

    a {
      color: $footerColor;

      @media (max-width: $phoneWidth) {
        text-decoration: underline;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
