.input-def {
  padding-left: 16px;

  @include size(475px, 41px);

  @media (max-width: $tableWidth) {
    width: 100%;
  }
}
.input-def:focus + label, .input-def:valid + label  {
  font-size: rem(14);
  color: $secondaryColor;
  transition: linear .3s;
  transform: translateY(-32px) translateX(-16px);
}
.input-def:invalid:not(:focus) {
  color: transparent;
}
