.other-courses {
  padding-top: 85px;
  padding-bottom: 72px;
  .section__content {
    margin: auto;
    margin-top: 50px;
    padding: 0;
   // width: 80%;
    justify-content: center;
  }
  .float-list {
    flex-wrap: wrap;
    background-color: transparent;
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    &__content {
      margin: 0;
      flex-direction: row;
      align-items: center;
      
      //min-width: 200px;
    }
    &__main-text {
      font-size: rem(16);
      font-weight: 700;
      line-height: normal;
    }
    &__item {
      flex-basis: 220px;
      padding-left: 30px;
      padding-right: 28px;
      height: 120px;
      align-items: center;
      max-width: 267px;
      //margin-top: 57px;
      //flex: 0;
      &:not(:first-child)::before {
        display: none;
      }
      &:hover {
        transform: none;
        .float-list__content {
        transform: none;
        }
        .float-list__main-text {
          animation: none;
        }
        .float-list__add-text {
          animation: none;
        }
      }
    }
    &__description {
      margin-left: 25px;
      display: flex;
      flex-direction: column;
    }
    &__add-text {
      margin-top: 6px;
      font-size: rem(14);
    }
  }
}