.review {
  margin-top: 40px;
  &__list {
    margin: auto;
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    margin: auto;
    margin-top: 33px;
    display: flex;
    flex-basis: 490px;
    height: 186px;
    @media (max-width: $phoneWidth ) {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  }
  &__show-all {
    display: block;
    margin: auto;
    margin-top: 69px;
    @include size(220px, 50px);
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #39c2d7;
    font-weight: 700;
    font-size: rem(16);
    color: #39c2d7;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 4px #000000;
    }
  }
}