.slider-item {
  display: flex;
  justify-content: center;
  &__icon {
    @include size(110px, 103px);
    margin-top: 38px;
    margin-left: 16px;
  }
  &__content {
    margin-left: 47px;
  }
  &__title {
    font-size: rem(52);
    font-weight: 800;
  }
  &__subtitle {
    margin-top: rem(10);
    font-size: 28px;
    font-weight: 700;
  }
  &__description {
    margin-top: 14px;
    font-size: rem(18);
    line-height: 30px;
    font-weight: 400;
    @media (max-width: $tableWidth) {
      display: none;
    }
  }
  &__goto {
    margin-top: 23px;
    @include size(230px, 50px);
    font-weight: 700;
  }
}