.subscribe {
  //margin-top: 92px;
  padding: 46px 100px;
  background-color: #39c2d7;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: $smDesktopWidth) {
    justify-content: center;
  }
  @media (max-width: $phoneWidth ) {
    padding-left: 0;
    padding-right: 0;
  }
  &__info {
    flex-basis: 50%;
    @media (max-width: $smDesktopWidth) {
      flex-basis: 80%;
    }
  }
  &__input-container {
    @media (max-width: $smDesktopWidth) {
      margin-top: 20px;
      width: 80%;
    }
    //flex-basis: 50%;
  }
  &__username:focus + label {
    transform: translateY(-32px) translateX(-16px);
    color: #ffffff;
    font-size: rem(14);
    transition: linear 0.3s;
  }
  &__username:valid + label {
    transform: translateY(-32px) translateX(-16px);
    color: #ffffff;
    font-size: rem(14);
  }
  &__email:focus + label {
    transform: translateY(-32px) translateX(-16px);
    color: #ffffff;
    font-size: rem(14);
    transition: linear 0.3s;
  }
  &__email:valid + label {
    transform: translateY(-32px) translateX(-16px);
    color: #ffffff;
    font-size: rem(14);
  }
  &__email:invalid:not(:focus) {
    color: #ffffff;
  }
  &__title {
    line-height: 30px;
    font-size: rem(24);
    font-weight: 700;
    @media (max-width: $smDesktopWidth) {
      text-align: center;
    }
  }
  &__description {
    margin-top: 3px;
    line-height: 30px;
    font-size: rem(18);
    font-weight: 400;
  }
  &__username-wrapper {
    margin-top: 10px;
    position: relative;
  }
  &__email-wrapper {
    margin-top: 32px;
    position: relative;
  }
  &__username-label {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    font-size: rem(16);
    line-height: 41px;
    color: #b5b5b5;
    font-weight: 400;
    padding-left: 16px;
  }
  &__email-label {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    font-size: rem(16);
    line-height: 41px;
    color: #b5b5b5;
    font-weight: 400;
    padding-left: 16px;
  }
  &__submit {
    margin-top: 34px;
    @include size(161px, 41px);
    background-color: #046c7c;
    font-size: rem(15);
    color: #ffffff;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      background-color: #2b4363;
    }
  }
}