.subscribe {
  display: flex;
  padding: 46px 100px;
  background-color: $primeryColor;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $smDesktopWidth) {
    justify-content: center;
  }

  @media (max-width: $phoneWidth) {
    padding-left: 0;
    padding-right: 0;
  }

  &__info {
    flex-basis: 50%;

    @media (max-width: $smDesktopWidth) {
      flex-basis: 80%;
    }
  }

  &__input-container {
    @media (max-width: $smDesktopWidth) {
      width: 80%;
      margin-top: 20px;
    }
  }

  &__title {
    font-size: rem(24);
    line-height: 30px;
    font-weight: 700;

    @media (max-width: $smDesktopWidth) {
      text-align: center;
    }
  }

  &__description {
    font-size: rem(18);
    line-height: 30px;
    font-weight: 400;
    margin-top: 3px;
  }

  &__username-wrapper {
    position: relative;
    margin-top: 10px;
  }

  &__email-wrapper {
    position: relative;
    margin-top: 32px;
  }

  &__username-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: rem(16);
    line-height: 41px;
    color: #b5b5b5;
    font-weight: 400;
    padding-left: 16px;
  }

  &__email-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: rem(16);
    line-height: 41px;
    color: #b5b5b5;
    font-weight: 400;
    padding-left: 16px;
  }

  &__submit {
    font-size: rem(15);
    color: $secondaryColor;
    background-color: #046c7c;
    font-weight: 400;
    margin-top: 34px;

    @include size(161px, 41px);

    &:hover {
      background-color: #2b4363;
      cursor: pointer;
    }
  }
}
