@import '../../common/styles/vars.scss';
.favorite-mark {
  border: none;
  background-color: transparent;
  font-size: 30px;
  //position: absolute;
  //top: 15px;
  //right: 15px;
  color: $text-secondary;
  opacity: 0.5;
  &:hover {
    cursor: pointer;
    text-shadow: 0 0 8px rgb(168, 167, 167);
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: transparent;
  }
}
.active {
  opacity: 1;
}
