@import '../../common/styles/vars.scss';

.favorite-mark {
  font-size: 30px;
  color: $text-secondary;
  background-color: transparent;
  border: none;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    text-shadow: 0 0 8px rgb(168, 167, 167);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: transparent;
  }
}

.active {
  opacity: 1;
}
