$header-nav-font : "Open Sans", sans-serif;
$header-nav-font-color           : #ffffff;
$header-nav-font-size: 16px;
$header-nav-font-weight: 600;
$main-font-size: 18px;

$desktop-width            : 1200px;
$sm-desktop-width          : 992px;
$table-width              : 768px;
$phone-width              : 576px;
$sm-phone-width            : 320px;

$primary-color: rgb(82, 213, 218);
$secondary-color: rgb(56, 200, 120);
$base-color: rgb(238,238,238)