@import '../common/styles/vars.scss';
.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  color: $text-secondary;
  font-size: 3rem;
}
